.nav-bar {
  background-color: black;
  background-image: url("https://media1.giphy.com/media/JQpH25Y6TrRQwtF0KY/200.gif");
  background-repeat: no-repeat;
  background-position: left;
  font-family: Stencil Std, fantasy;
  color: rgb(185, 185, 185);
  font-size: 1.2rem
}
.nav-bar:hover {
  font-size: 1.2rem
}

.dropdown-items {
  background-color: rgba(0, 0, 0, 0.642) !important;
  color: rgb(185, 185, 185)!important;
}
.dropdown-items:hover {
  background-color: rgb(185, 185, 185) !important;
  color: rgba(0, 0, 0, 0.566) !important;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navLogo {
  display: block;
  color:#8c8c8c;
  padding: 0.5rem 1rem;
  transition: color .15s ease-in-out,
  #8c8c8c .15s ease-in-out,
  #8c8c8c .15s ease-in-out;
  text-decoration: none;
}
.navLogo:hover { 
  color:#dddcdc;
  text-decoration: none;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left:  none !important;
  margin-right: auto;
  margin-left: none !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 1px !important;
  margin-left: none !important;
}